h1 {
    color:rgb(26, 77, 107);
    font-size: 100px;
    margin: 250px;
}
body{
background-color: rgb(216, 207, 205)
}
body{
h3 {
    color:rgb(75, 75, 75)
    font-size: 250px;
}
}

h2{
    color:rgb(75, 75, 75)

}

p{
    font-size:30px;
}


